{namespace TodoForm}

/**
 * This renders the component's whole content.
 */
{template .render}
	{@param? value: string}

	<form class="todo-form" data-onsubmit="handleSubmit">
		<label for="title">
			Todo <textarea data-oninput="handleChange" name="title" placeholder="new item">{$value}</textarea>
		</label>
		<button type="submit">Add</button>
	</form>
{/template}
